body {
  background-color: #e2e2e2; /* Changed to #e2e2e2 */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Outer box with a soft Light #e2e2e2 background */
.outer-box {
  background-color: #e2e2e2; /* Light #e2e2e2 */
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Glass effect for login box */
.login-box {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 400px;
  text-align: center;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.larger-login-box {
  width: 500px;
}

.login-logo {
  width: 50px;
}

.input-group-text {
  background-color: rgba(255, 255, 255, 0.3);
  border-right: 0;
}

.form-control {
  border-left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
}

.form-control::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-control:focus {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

/* Update the primary button to use Crimson */
.btn-primary {
  background-color: #e48e1f; /* Crimson */
  border: none;
  padding: 10px;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #ce2029; /* Fire Engine Red */
}

.err {
  margin-top: 10px;
  font-size: 14px;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .outer-box {
    padding: 40px;
    margin-bottom: 10px;
  }

  .login-box {
    width: 100%;
    padding: 25px;
    margin-bottom: 10px;
  }

  .login-logo {
    width: 40px;
  }

  .btn-primary {
    padding: 8px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .outer-box {
    padding: 30px;
  }

  .login-box {
    width: 100%;
    padding: 20px;
  }

  .login-logo {
    width: 40px;
  }

  .btn-primary {
    padding: 8px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .outer-box {
    padding: 20px;
  }

  .login-box {
    padding: 15px;
  }

  .login-logo {
    width: 30px;
  }

  .btn-primary {
    padding: 6px;
    font-size: 12px;
  }
}
